<header>
    <div class="limitedWidthBlockContainer informations">
        <div class="limitedWidthBlock">
        <ul>
            <li><img src="assets/icons/phone.svg" alt="logo de téléphone" class="informations__phone">01 23 45 67 89</li>
            <li><img src="assets/icons/mail.svg" alt="logo d'une enveloppe" class="informations__mail">support@name.com</li>
            <li><img src="assets/icons/adress.svg" alt="logo d'un point de géolocalisation" class="informations__address">01 23 45 67 89</li>
        </ul>
        </div>
    </div>
    <div class="limitedWidthBlockContainer menu">
        <div class="limitedWidthBlock">
        <nav>
            <ul>
                <a routerLink="/"><li>Home</li></a>
                <a routerLink="/cart"><li>Cart</li></a>
            </ul>
        </nav>
        </div>
    </div>
</header>