/*********/
/*GENERAL*/
/*********/

main {
	padding-bottom: 90px;
}
h1 {
	margin-bottom: 90px;
}
h2 {
	text-align: start;
}

/************/
/*Cart Items*/
/************/
.cart__item {
	display: flex;
	justify-content: space-around;
	padding-top: 35px;
	margin-bottom: 30px;
}
.cart__item__img {
	width: 25%;
}
.cart__item__img img {
	width: 100%;
	border-radius: 25px;
}
.cart__item__content {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.cart__item__content__titlePrice {
	display: flex;
	justify-content: space-between;
}
.cart__item__content__titlePrice h2,
.cart__item__content__titlePrice p {
	margin: 0;
}
.cart__item__content__settings p {
	margin: 0;
}
.cart__item__content__settings input {
	color: var(--footer-secondary-color);
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	border-radius: 20px;
	border: 1px solid #767676;
	text-align: center;
	text-align-last: center;
}
.cart__item__content__settings input:focus {
	outline: none;
}
.cart__item__content__settings__quantity {
	display: flex;
}
.cart__item__content__settings__quantity p {
	margin-right: 10px;
	display: flex;
}
.cart__item__content__settings__delete p {
	display: inline;
}
.cart__item__content__settings__delete p:hover {
	cursor: pointer;
	font-weight: 700;
}