/**************/
/*Confirmation*/
/**************/
.confirmation {
    display: flex;
    justify-content: center;
    margin-top: 85px;
    margin-bottom: 85px;
}

.confirmation ul {
    list-style-type: none;
    background-color: white;
    color: #3d424f;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 25px;
}

li.success {
    color: green;
}