<main class="limitedWidthBlockContainer">
    <div class="limitedWidthBlock" id="limitedWidthBlock">
      <div class="cartAndFormContainer" id="cartAndFormContainer">
        <h1>Cart</h1>
        <section class="cart" *ngIf="cartItems && cartItems.length > 0">
          <section id="cart__items">
           <article class="cart__item" *ngFor="let cartItem of cartItems">
              <div class="cart__item__img">
                <img src="{{cartItem.url}}" alt="Product image">
              </div>
              <div class="cart__item__content">
                <div class="cart__item__content__description">
                  <h2>{{cartItem.name}}</h2>
                  <p>{{cartItem.price}} USD</p>
                </div>
                <div class="cart__item__content__settings">
                  <div class="cart__item__content__settings__quantity">
                    <p>Qty : </p>
                    <input type="number" class="itemQuantity" name="itemQuantity" min="1" max="100" value="{{cartItem.quantity}}" disabled>
                  </div>
                </div>
              </div>
            </article>
          </section>
          <div class="cart__price">
            <p>Total: <span id="totalPrice">{{totalPrice}}</span> USD</p>
          </div>
          <div class="cart__order">
            <form (ngSubmit)="completeOrder($event)" class="cart__order__form">
              <div class="cart__order__form__question">
                <label for="fullname">Fullname: </label>
                <input type="text" name="fullname" id="fullname" required [(ngModel)]="fullName">
              </div>
              <div class="cart__order__form__question">
                <label for="address">Address: </label>
                <input type="text" name="address" id="address" required [(ngModel)]="address">
              </div>
              <div class="cart__order__form__question">
                <label for="creditCard">Credit card number: </label>
                <input type="email" name="creditCard" id="creditCard" required [(ngModel)]="creditCard">
              </div>
              <div class="cart__order__form__submit">
                <input type="submit" value="Order !" id="order">
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>
</main>