<main class="limitedWidthBlockContainer">
    <div class="limitedWidthBlock" id="limitedWidthBlock">
      <div class="cartAndFormContainer" id="cartAndFormContainer">
        <h1>Cart</h1>
        <section class="cart" *ngIf="cartItems && cartItems.length > 0">
          <section id="cart__items">
            <app-cart-item (deleteItem)="deleteCartItem(cartItem)" (updateItem)="updateCartItem(cartItem)" class="cart__item" *ngFor="let cartItem of cartItems" [cartItem]="cartItem">
            </app-cart-item>
          </section>
          <div class="cart__price">
            <p>Total: <span id="totalPrice">{{totalPrice}}</span> USD</p>
          </div>
          <div class="cart__order">
            <form #form="ngForm" (ngSubmit)="completeOrder()" class="cart__order__form">
              <div class="cart__order__form__question">
                <label for="fullname">Fullname: </label>
                <input pattern="[a-zA-Z ]*" #fullNameField="ngModel" type="text" name="fullname" id="fullname" required [(ngModel)]="fullName">
                <p *ngIf="fullNameField.invalid" id="errorMsg">This field is invalid (only letters and spaces)</p>
              </div>
              <div class="cart__order__form__question">
                <label for="address">Address: </label>
                <input pattern="[a-zA-Z ]*" #addressField="ngModel"type="text" name="address" id="address" required [(ngModel)]="address">
                <p *ngIf="addressField.invalid" id="errorMsg">This field is invalid (only letters and spaces)</p>
              </div>
              <div class="cart__order__form__question">
                <label for="creditCard">Credit card number: </label>
                <input pattern="[0-9]*" #creditCardField="ngModel" type="email" name="creditCard" id="creditCard" required [(ngModel)]="creditCard">
                <p *ngIf="creditCardField.invalid" id="errorMsg">This field is invalid (type only numbers)</p>
              </div>
              <div class="cart__order__form__submit">
                <input type="submit" value="Order !" id="order" [disabled]="form.invalid">
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>
</main>